<div class="row m-3 justify-content-center">
  <div class="col-md-12 col-lg-9 offset-md-1 show-card">
    <%= post_render_type(post) %>
    
    <%= simple_format(post.text) %>
    
    <div class='post-helpers row justify-content-around'>
      <span class='col'>
        <%= render_like_btn(post) %>

        <% if can? :destroy, @post %>
          <%= button_to(image_tag("trash.svg", size:'28x28'), user_post_path(@user, post), method: :delete, class: 'trash-icon') %>
        <% end %>
      </span>
      <span class='col text-end'><small>
        Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
      </small></span>
    </div>
  </div>
</div>
