<div class="row m-3 justify-content-center align-items-center">
  <div class="col-md-4 col-lg-3 text-center text-md-end">
    <% if current_page?('/') || current_page?('/users') %>
      <%= link_to(image_tag(user.photo, class: "user-img"), 'users/'+user.id.to_s) %>
    <% else %>
      <%= image_tag(user.photo, class: "user-img") %>
    <% end %> 
  </div>
  <div class="show-card col-md-8 col-lg-6">
    <% if current_page?('/') || current_page?('/users') %>
      <%= link_to(content_tag(:h2, user.name, class: "m-0 mt-2"), 'users/'+user.id.to_s) %>
    <% else %>
      <%= content_tag(:h2, user.name, class: "m-0 mt-2") %>
    <% end %>
    <span>
      Number of posts: <%= user.posts_counter %>
    </span>
  </div>
</div>
