<div class="row m-3 justify-content-center">
  <div class="col-md-12 col-lg-9 offset-md-1 show-card">
    <% if current_page?(controller: 'posts', action: 'index') %>
      <%= link_to(content_tag(:h4, post.title, class: "display-6"), 'posts/'+post.id.to_s) %>
    <% else %>
      <%= content_tag(:h4, post.title, class: "display-6 inline") %> by <%= link_to(post.author.name, 'users/'+post.author.id.to_s, class: "inline") %>
    <% end %>
    <p class="m-0 mt-3"><%= post.text %></p>
    <span class="user-card-posts">
      Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %>
    </span>
  </div>
</div>

<div class="row m-3 justify-content-center comments-row">
  <div class="col-md-12 col-lg-9 offset-md-1 show-card">
    <p class="m-0">
      <% if !post.comments.empty? %>
        <% post.comments.each do |comment| %>
          <strong><%= users.find(comment.author_id).name %>:</strong> <%= comment.text %>
          <br>
        <% end %>
      <% else %>
        <strong>No comments yet.</strong>
      <% end %>
    </p>
  </div>
</div>
