<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to("", root_path, class: "nav-logo") %>
      <%= link_to("BlogOnRails", root_path, class: "nav-title display-1") %>
      <span class="new-post-btn">
        <%= link_to "New Post", new_user_post_path(@current_user), class: "btn btn-primary" %>
      </span>
    </header>
    <% flash.each do |type, msg| %>
      <div class="ms-5 me-5 alert alert-success" role="alert">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
